

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

header {
    background-color: #f8f8f8;
    color: #292929;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

#house {
    margin-left: 20px;
}

.sidebar {
    width: 60px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f8f8f8;
    transition: width 1s;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar a {
    margin-bottom: 60px;
    padding: 10px; 
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.sidebar a .icon-text {
    position: absolute;
    top: 0;
    right: -100px;
    opacity: 0;
    margin-top: 30px; /* Add left padding to create space between icons and text */
    transition: right 0.5s, opacity 0.5s;
    color: #292929;
}

.sidebar:hover a .icon-text {
    right: 0;
    opacity: 1;
    color: #292929;
}

.sidebar:hover span .icons {
    color: #d6b557;
    transition: 0.25s;
}

.sidebar:hover {
    width: 175px;
    transition: width 1s;
}

.content {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#dashboard-h2 {
    font-size: 30px;
}

#logout {
    margin-right: 30px;
}

.icons {
    color: #292929;
}

.icons:hover {
    color: #d6b557;
    transition: 0.25s;
}
.main-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.contentBtn {
    margin: 10px;
    margin-left: 10px;
    padding: 24px 100px;
    border-radius: 8px;
    background-color: #292929;
    color: #f8f8f8;
    font-size: 16px;
    border: 2px solid #f8f8f8;
    cursor: pointer;
}

.contentBtn:hover {
    background-color: #d6b557;
    transition: cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.25s;
    color: #292929;
    border: 2px solid #292929;
}
/* Media Queries */

@media screen and (max-width: 768px) {
    .sidebar {
        width: 50px;
    }

    .sidebar a {
        margin-bottom: 50px;
    }

    .sidebar a .icon-text {
        text-decoration:none
    }

    #dashboard-h2 {
        font-size: 24px;
    }

    .contentBtn {
        padding: 12px 40px;
        font-size: 12px;
    }
}


@media screen and (max-width: 480px) {
    .sidebar {
        width: 40px;
    }

    .sidebar a {
        margin-bottom: 30px;
    }

    .sidebar a .icon-text {
        right: -60px;
        margin-top: 3px;
    }

    #dashboard-h2 {
        font-size: 20px;
    }

    .contentBtn {
        padding: 16px 50px;
        font-size: 12px;
        display: flex;
        width: 100%;
        margin: 10px 0;
    }
}
